
li#projects {
    /* border-bottom: #6FD6FF solid 2px; */
    color: #8AC8E9;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(350*7px + 250px);
    text-align: center;
    /*background: url('../img/campanile.jpg') no-repeat center;
    background-size: cover;*/
}

div#big-content-container {
    height: 100%;
    width: 80%;
    margin: auto;
}

div#time-text-container {
    position: relative;
    top: 180px;
    left: 5%;
    width: 30%
}

.time-text {
    color: #424242;
    font-size: 18px;
    width: 200px;
}

div#adpet-time {
    top: calc(350*0px);
    position: absolute;
}

div#linkedin-time {
    top: calc(350*1px);
    position: absolute;
}

div#bdd-time {
    top: calc(350*2px);
    position: absolute;
}

div#amazon-time {
    top: calc(350*3px);
    position: absolute;
}

div#bt-time {
    top: calc(350*4px);
    position: absolute;
}

div#bids-time {
    position: absolute;
    top: calc(350*5px);
}

div#bookselves-time {
    position: absolute;
    top: calc(350*6px);
}

div#timeline-container {
    position: relative;
    top: 158px;
    left: 35%;
    width: 20px;
}

div#time-line {
    width: 3px;
    height: calc(350*7px - 70px);
    background-color: lightblue;
    float: right;
    margin-right: 6px;
}

.time-dot {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: lightblue solid 2px;
    background-color: lightblue;
}

div#future-dot {
    border: lightblue solid 2px;
    background: none;
    top: calc(350*0px);
}

div#linkedin-dot {
    position: absolute;
    top: calc(350*1px);
}

div#bdd-dot {
    position: absolute;
    top: calc(350*2px);
}

div#amazon-dot {
    position: absolute;
    top: calc(350*3px);
}

div#bt-dot {
    position: absolute;
    top: calc(350*4px);
}

div#bids-dot {
    position: absolute;
    top: calc(350*5px);
}

div#bookselves-dot {
    position: absolute;
    top: calc(350*6px);
}

div#cards-container {
    position: relative;
    top: 110px;
    left: 50%;
    width: 570px;
}

.card-box {
    position: relative;
    width: 500px;
    height: 294px;
    margin: 50px 30px;
    border-radius: 20px;
    border: #CAE6F5 dotted 3px;
}

.card-overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 500px; /* Full width (cover the whole page) */
    height: 295px; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    border-radius: 20px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.card-header {
    color: white;
}

.card-subheader {
    color: white;
}

.card-content {
    color: white;
}

div#adept-box {
    background: url("../img/adept.png") no-repeat center;
    background-size: 50%;
}

div#adept-header {
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#adept-subheader {
    font-size: 20px;
    padding-bottom: 10px;
}

div#linkedin-box {
    background: url("../img/linkedin.png") no-repeat center;
    background-size: 90%;
}

div#linkedin-header {
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#linkedin-subheader {
    font-size: 20px;
    padding-bottom: 10px;
}

div#bdd-box {
    background: url("../img/bdd.png") no-repeat center;
    background-size: 90%;
}

div#bdd-header {
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#bdd-subheader {
    font-size: 20px;
    padding-bottom: 10px;
}

div#bdd-content {
    padding-left: 15px;
    padding-right: 15px;
}

div#amazon-box {
    background: url("../img/amazon.jpg") no-repeat center;
    background-size: 90%;
}

div#amazon-header {
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#amazon-subheader {
    font-size: 20px;
    padding-bottom: 10px;
}

div#bt-box {
    background: url("../img/berkeleytime.png") no-repeat center;
    background-size: 100%;
}

div#bt-header {
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#bt-subheader {
    font-size: 17px;
    padding-bottom: 10px;
}

div#bt-content {
    border-bottom: dotted white 2px;
    display: inline-block;
}

div#bt-content:hover {
    color: #8AC8E9;
    border-bottom-color: #8AC8E9;
}

div#bids-box {
    background: url("../img/bids.png") no-repeat center;
    background-size: 70%;
}

div#bids-header {
    font-size: 26px;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#bids-subheader {
    font-size: 20px;
    padding-bottom: 10px;
}

div#bids-content {
    border-bottom: dotted white 2px;
    display: inline-block;
}

div#bids-content:hover {
    color: #8AC8E9;
    border-bottom-color: #8AC8E9;
}

/* GitHub icon in BIDS content*/
.gh-icon-container {
    background: url("../img/gh-white.png") no-repeat 0px 0px;
    background-size: 100%;
    width: 30px;
    height: 30px;
    margin: 13px auto;
}

.gh-icon-container:hover {
    background: url(../img/gh-blue.png) no-repeat 0px 0px;
    background-size: 100%;
}

div#bookselves-box {
    background: url("../img/bookselves.png") no-repeat center;
    background-size: 30%;
}

div#bookselves-header {
    font-size: 28px;
    padding-top: 100px;
    padding-bottom: 30px;
}

div#bookselves-subheader {
    font-size: 20px;
    padding-bottom: 13px;
}

div#bookselves-content {
    border-bottom: dotted white 2px;
    display: inline-block;
}

div#bookselves-content:hover {
    color: #8AC8E9;
    border-bottom-color: #8AC8E9;
}

.footer {
    top: calc(350*7px + 250px);
}


/* ANIMATION */

@keyframes resize {
    0% { width: 0%; }
    50% { width: 50%; }
    100% { width: 100%; }
}

.animation {
    animation: resize 1s ease 1;
}

