
li#resume {
    /* border-bottom: #6FD6FF solid 2px; */
    color: #8AC8E9;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

div#resume-content-container {
    position: absolute;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
}

div#download-button-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#resume-png-container {
    width: 80%;
    height: calc(80% - 55px);
    margin: auto;
}

div#download-button {
    text-align: center;
    display: inline-block;
    color: #424242;
    letter-spacing: 1px;
    word-spacing: 1px;
    height: 23px;
    border-bottom: #8AC8E9 dotted 2px;
    cursor: pointer;
}

div#download-button:hover {
    color: #8AC8E9;
}

/* ANIMATION */

@keyframes resize {
    0% { width: 0%; }
    50% { width: 50%; }
    100% { width: 100%; }
}

.animation {
    animation: resize 1s ease 1;
}
