body {
    overflow: scroll;
    margin: 0px;
    font-family: "Lato";
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.pop-up-box-container {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    display: none;
}

.pop-up-box-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.pop-up-box {
    width: 500px;
    height: 260px;
    /*background-color: #8AC8E9;*/
    /*background-color: lightblue;*/
    background-color: #9fd2ed;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: calc(50% - (500px/2));
}

.email-header {
    width: 460px;
    margin: 60px auto;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 28px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.email-content {
    width: 460px;
    height: 30px;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
}

#email-link {
    color: white;
    border-bottom: dotted white;
}

#email-link:hover {
    font-size: 22px;
    transition: all .2s;
}

div#email-exit {
    margin: 40px auto;
    color: white;
    text-align: center;
    font-size: 18px;
    border: white solid;
    width: 90px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

div#email-exit:hover {
    color: #9fd2ed;
    background-color: white;
    transition: all .2s;
}

ul.navbar {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

li.navbar-item {
    display: inline-block;
    margin-left: 70px;
    color: #424242;
    height: 22px;
}

.navbar-container {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0px;
    background-color: #F6F7F7;
    z-index: 100;
    border-bottom: #CAE6F5 solid 2px;
}

.back-to-top {
    position: absolute;
    bottom: 50px;
    display: inline;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    height: 23px;
    color: #424242;
}

.back-to-top:hover {
    border-bottom: #8AC8E9 dotted 1px;
    height: 22px;
}

.footer {
    position: absolute;
    /*top: 680px;*/
    background-color: #F4F5F6;
    width: 100%;
    /* border-top: #8AC8E9 solid 2px; */
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.icon {
    display: inline-block;
    margin-right: 30px;
    height: 50px;
    width: 50px;
}

li#fb-icon {
    background: url(../img/fb-black.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#fb-icon:hover {
    background: url(../img/fb-blue.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#gh-icon {
    background: url(../img/gh-black.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#gh-icon:hover {
    background: url(../img/gh-blue.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#linkedin-icon {
    background: url(../img/linkedin-black.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#linkedin-icon:hover {
    background: url(../img/linkedin-blue.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#email-icon {
    background: url(../img/email-black.png) no-repeat 0px 0px;
    background-size: 100%;
    margin-right: 0px;
}

li#email-icon:hover {
    background: url(../img/email-blue.png) no-repeat 0px 0px;
    background-size: 100%;
}

li#email-icon:hover {
    cursor: pointer;
}

.icons-container {
    margin-top: 50px;
}

.copyright {
    font-size: 15px;
    color: #2e2e2e;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}