
li#travel {
    /* border-bottom: #6FD6FF solid 2px; */
    color: #8AC8E9;
}

.page {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1600px;
    text-align: center;
}

.sidebar-container {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 170px;
    width: 130px;
    text-align: right;
    border-right: lightblue solid;
    position: fixed;
}

.travel-content-container {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 700px;
}

li.sidebar-item {
    color: #424242;
    font-size: 20px;
    margin: 20px;
    display: block;
    width: 100px;
}

.section-header {
    margin: 10px;
    position: relative;
}

.header-icon {
    width: 30px;
    height: 30px;
    background: url("../img/location.png");
    background-size: 100%;
    display: inline-block;
    /*top: 3px;
    position: absolute;
    left: 158px;
    margin-right: 10px;*/
}

div#alaska-icon {
    top: 3px;
    position: absolute;
    left: 158px;
    margin-right: 10px;
}

div#seattle-icon {
    top: 3px;
    position: absolute;
    left: 170px;
    margin-right: 10px;
}

.header-text {
    display: inline-block;
    font-size: 28px;
    color: #424242;
    word-spacing: 5px;
    letter-spacing: 1px;
}

#seattle-section {
    position: relative;
    top: 0px;
}

.images-container {
    width: 100%;
    margin-top: 20px;
    height: 700px;
}

.single-image-container {
    width: 250px;
    height: 175px;
    display: inline-block;
    margin: 10px;
    cursor: -webkit-zoom-in;
}

div#alaska-image-1 {
    background: url("../img/pics/ak1.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#alaska-image-2 {
    background: url("../img/pics/ak2.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#alaska-image-3 {
    background: url("../img/pics/ak3.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#alaska-image-4 {
    background: url("../img/pics/ak4.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#alaska-image-5 {
    background: url("../img/pics/ak5.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#seattle-image-1 {
    background: url("../img/pics/seattle1.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#seattle-image-2 {
    background: url("../img/pics/seattle2.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#seattle-image-3 {
    background: url("../img/pics/seattle3.jpg") no-repeat 0px 0px;
    background-size: cover;
}

div#seattle-image-4 {
    background: url("../img/pics/seattle4.jpg") no-repeat 0px 0px;
    background-size: cover;
}

.footer {
    top: 1600px;
}

.zoomed-in {
    width: 520px;
    height: 370px;
    cursor: -webkit-zoom-out;
}

